---
layout: default
title: articles
---

<section>
    <h1>Archive</h1>
    <ul>
        {% for post in site.posts %}
        {% unless post.next %}
        <h3>{{ post.date | date: '%Y %b' }}</h3>
        {% else %}
        {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
        {% if year != nyear %}
        <h3>{{ post.date | date: '%Y %b' }}</h3>
        {% endif %}
        {% endunless %}

        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1 class="tag_list">Tags</h1>
    <ul>
        {% for tag in site.tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <li><a href="{{ site.baseurl }}/tags/{{ t }}.html">{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</a></li>
        {% endfor %}
    </ul>

</section>

