<header>
    <h1><a class="h1_link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date: '%d %m %Y' }}">
        {{ page.date | date: "%d %B, %Y" }}
    </time>
    <span> | </span>
    <a class="comment_count" href="{{ site.baseurl }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}"></a>
    <span> | </span>
    {% include tags.html %}
    {% if page.img %}
        <img src="{{ site.baseurl }}{{ page.img['source'] }}" alt="{{ page.img['alt'] }}">
    {% endif %}
</header>

