{% if site.quote["enable"] %}
<blockquote id="footer-quote">
    <p>
        {% if page.quote %}
        {{ page.quote["quote"] }}
        {% else %}
        {{ site.quote["quote"] }}
        {% endif %}
    </p>
    <footer>
        <cite>
        {% if page.quote %}
        - {{ page.quote["author"] }}
        {% else %}
        - {{ site.quote["author"] }}
        {% endif %}
    </cite>
    </footer>
</blockquote>
{% endif %}
<div id="footer-main">
    <small>
        &copy; 2016 {{ site.owner }}. ALL RIGHTS RESERVED.
    </small>
</div>
