<div id="footer_main">
    <section id="sign_up">
        <h3>Sign up for newsletters</h3>
        <!-- Coming soon -->
        <form action="#">
        <input type="text" placeholder="Enter email">
        <input class="button" type="submit" value="Sign Up">
        </form>
    </section>
    <section id="follow">
        <h3>Follow me</h3>
        <!-- Coming soon -->
        {% include social.html %}
    </section>
    <small>
        &copy; 2016 {{ site.owner }}. ALL RIGHTS RESERVED.
    </small>
</div>
