<header>
    <div id="profile">
        <div>
            <img src="/resources/images/my_photo.png" alt="my photo" id="profile_picture">
            <h2>{{ site.owner }}</h2>
            <p>feci quod potui, faciant meliora potentes</p>
        </div>
    </div>
    <div id="social">
        <ul>
            <li><a href="#"><img src="/resources/images/github.svg" alt="github"></a></li>
            <li><a href="#"><img src="/resources/images/stackoverflow.svg" alt="stalkoverflow"></a></li>
            <li><a href="#"><img src="/resources/images/rss.svg" alt="rss"></a></li>
        </ul>
    </div>
</header>
