<div id="content">
    <div class="logo-nav">
        {% include logo.html %}
        {% include nav.html %}
    </div>
    {% if site.punch-line == true %}
    <div class="punch-line">
        <h1>
            {% if page.category %}
            {{ page.category }}
            {% else if page.tag %}
            {{ page.tag }}
            {% endif %}
            {% if page.category == nil and page.tag == nil %}
            {{ page.title }}
            {% endif %}
        </h1>
        {% if page.description %}
        <p>{{ page.description }}</p>
        {% endif %}
    </div>
    {% endif %}
</div>