<nav id="social">
    <ul>
        <li><a id="facebook" class="social_nav" href="#"><img src="/resources/images/facebook.svg" alt="facebook"></a></li>
        <li><a id="twitter" class="social_nav" href="#"><img src="/resources/images/twitter.svg" alt="twitter"></a></li>
        <li><a id="google_plus" class="social_nav" href="#"><img src="/resources/images/google_plus.svg" alt="google plus"></a></li>
        <li><a id="rss" class="social_nav" href="#"><img src="/resources/images/rss.svg" alt="rss"></a></li>
    </ul>
</nav>
