

$b-w-sep: 0.3rem;

/*************************************************************************
                             BORDER
/*************************************************************************/

//---------------------------NONE
.preview:last-child,
.contact-form input[type="submit"] {
  border: none;
}

//---------------------------1PX-SOLID
.definition,
.contact-form input:focus,
.contact-form textarea:focus,
.table td,
.table th,
.contact-form input,
.contact-form textarea,
.alert {
  border: 1px solid;
}

//---------------------------WIDTH=4PX
.sep {
  border-width: $b-w-sep;
}


//---------------------------RADIUS=3PX
.highlighter-rouge {
  border-radius: 3px;
}

/*************************************************************************
                             BORDER-BOTTOM
/*************************************************************************/

//---------------------------WIDTH=1PX
abbr, .preview {
  border-bottom-width: 1px;
}

//---------------------------STYLE
abbr {
  border-bottom-style: dashed;
}

.preview {
  border-bottom-style: solid;
}

/*************************************************************************
                             BORDER-LEFT
/*************************************************************************/

//---------------------------WIDTH=4PX
article > .blockquote {
  border-left: $b-w-sep;
}

//---------------------------STYLE
article > .blockquote {
  border-left-style: solid;
}

/*************************************************************************
                             BORDER-RIGHT
/*************************************************************************/

//---------------------------STYLE
.sep {
  border-right-style: dotted;
}


