

/*************************************************************************
                             MARGIN=0-AUTO
/*************************************************************************/
.paginator ul,
#main-nav,
#footer-quote p:before,
#footer-quote,
article {
  margin: 0 auto;
}

/*************************************************************************
                             MARGIN-TOP-BOTTOM
/*************************************************************************/


/*************************************************************************
                             MARGIN-LEFT-RIGHT
/*************************************************************************/


//---------------------------BASELINE-DOUBLE
article > blockquote {
  margin-left: $l-h-baseline-double;
  margin-right: $l-h-baseline-double;

}

//---------------------------MISC
.sep {
  margin-left: $l-h-baseline - $b-w-sep * 2;
  margin-right: $l-h-baseline;
}

/*************************************************************************
                             MARGIN-BOTTOM
/*************************************************************************/

//---------------------------BASELINE
.contact-form input,
.contact-form textarea {
  margin-bottom: $l-h-baseline;
}

//---------------------------BASELINE-DOUBLE
article > blockquote,
article > table,
figure, .alert {
  margin-bottom: $l-h-baseline-double;
}

/*************************************************************************
                             MARGIN-RIGHT
/*************************************************************************/

//---------------------------BASELINE-HALF
article > ul li:before {
  margin-right: $l-h-baseline-half;
}

//---------------------------MISC
article > ol li:before {
  margin-right: $l-h-baseline-half - $l-h-baseline-half/1.5;
}

/*************************************************************************
                             PADDING
/*************************************************************************/

//---------------------------BASELINE-HALF
.contact-form input,
.contact-form textarea {
  padding: $l-h-baseline-half;
}

//---------------------------BASELINE
#wrapper >header,
.paginator ul
{
  padding: $l-h-baseline;
}

//---------------------------BASELINE-DOUBLE
#footer-quote {
  padding: $l-h-baseline-double;
}

/*************************************************************************
                             PADDING-LEFT-RIGHT
/*************************************************************************/

//---------------------------BASELINE-HALF
.tag-sep,
#main-nav li,
article > table td,
article > table th,
.highlighter-rouge,
.lineno, .code {
  padding-left: $l-h-baseline-half;
  padding-right: $l-h-baseline-half;
}

//---------------------------BASELINE
article > blockquote,
.alert,
.highlighter-header,
#wrapper > header {
  padding-left: $l-h-baseline;
  padding-right: $l-h-baseline;
}

//---------------------------BASELINE-DOUBLE
main {
  padding-left: $l-h-baseline-double;
  padding-right: $l-h-baseline-double;
}

/*************************************************************************
                             PADDING-TOP-BOTTOM
/*************************************************************************/

//---------------------------BASELINE-HALF
.lineno, .alert {
  padding-top: $l-h-baseline-half;
  padding-bottom: $l-h-baseline-half;
}

//---------------------------BASELINE
#footer-main,
article {
  padding-bottom: $l-h-baseline;
  padding-top: $l-h-baseline;
}

//---------------------------BASELINE-DOUBLE
#disqus_thread
 {
  padding-top: $l-h-baseline-double;
  padding-bottom: $l-h-baseline-double;
}

//---------------------------MISC
.preview {
  padding-top: $l-h-baseline * 3;
  padding-bottom: $l-h-baseline * 3;
}

#main-nav li {
  padding-top: $l-h-baseline-half * 0.5;
  padding-bottom: $l-h-baseline-half * 0.5;
}

/*************************************************************************
                             PADDING-TOP
/*************************************************************************/

//---------------------------BASELINE
#wrapper > footer,
.alert h4{
  padding-top: $l-h-baseline;
}

//---------------------------BASELINE-DOUBLE
article > h4
{
  padding-top: $l-h-baseline-double;
}

//---------------------------BASELINE-DOUBLE=*2
article:not(.preview) h2 {
  padding-top: $l-h-baseline-double * 2;
}

//---------------------------MISC
article h3 {
  padding-top: $l-h-baseline-double * 1.5;
}

article {
  padding-top: $l-h-baseline * 3;
}

/*************************************************************************
                             PADDING-BOTTOM
/*************************************************************************/

//---------------------------BASELINE-HALF
.alert p,
h1, h4 {
  padding-bottom: $l-h-baseline-half;
}

//---------------------------BASELINE
#footer-quote p:before,
article > h2,
article > h3,
.post-meta,
.alert p {
  padding-bottom: $l-h-baseline;
}

//---------------------------BASELINE-DOUBLE
article:not(.preview) > p,
article > blockquote p,
article > ul,
article > ol {
  padding-bottom: $l-h-baseline-double;
}

//---------------------------BASELINE-DOUBLE=*2
article header h1 {
  padding-bottom: $l-h-baseline-double *2;
}

/*************************************************************************
                             PADDING-LEFT
/*************************************************************************/

//---------------------------MISC
article > ul ul,
article > ul ol,
article > ol ul,
article > ol ol {
  padding-left: $l-h-baseline-half * 3;
}

