// colors
$color-black: #111111;
$color-white: #fcfcfc;
$color-white-grey: darken($color-white, 4);
$color-grey: darken($color-white, 10);
$color-grey-darker: darken($color-grey, 7);
$color-grey-darer-dark: darken($color-grey, 20);
$color-grey-dark: #5a5a5a;

$color-blue: lighten(#1D408C, 10);
$color-orange: #d16b19;
$color-green: #1BA914;
$color-red: #CF191D;

$color-orange-dark: darken($color-orange, 15);
$color-blue-dark: darken($color-blue, 15);
$color-green-dark: darken($color-green, 15);
$color-red-dark: darken($color-red, 15);


$color-info: lighten($color-blue, 45);
$color-warning: lighten($color-orange, 45);
$color-success: lighten($color-green, 45);
$color-note: lighten($color-red, 45);

$color-info-dark: darken($color-info, 10);
$color-warning-dark: darken($color-warning, 10);
$color-success-dark: darken($color-success, 10);
$color-note-dark: darken($color-note, 10);


/*************************************************************************
                             FONT COLOR
/*************************************************************************/

//---------------------------BLUE
a {
  color: $color-blue;
  text-decoration: none;
}

//---------------------------WHITE
.punch-line,
h1,
h2,
h3,
#logo-name,
#tag-line,
.contact-form input[type="submit"],
#footer-quote,
#main-nav .fancy-nav{
  color: $color-white;
}

//---------------------------GREY-DARK
.post-meta,
.paginator .fancy-nav,
#footer-main > small  {
  color: $color-grey-dark;
}

//---------------------------GREY
.tag-sep,
.highlighter-header,
article > table th {
  color: $color-grey;
}

//---------------------------ORANGE-DARK

article > header > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6,
.highlighter-rouge,
.warning {
  color: $color-orange-dark;
}

.info {
  color: $color-blue-dark;
  background-color: $color-info;
  border: 1px solid $color-info-dark;
}

.highlighter-rouge,
.warning,
article > table tbody tr:nth-child(2n) {
    background-color: $color-warning;
}

article > table td,
article > table th,
.warning {
  border: 1px solid darken($color-warning, 10);
}

.note {
  color: $color-red-dark;
  background-color: $color-note;
  border: 1px solid $color-note-dark;
}

.success {
  color: $color-green-dark;
  background-color: $color-success;
  border: 1px solid $color-success-dark;
}


/*************************************************************************
                           BACKGROUND COLOUR
/*************************************************************************/

//---------------------------WHITE
main {
  background-color: $color-white;
}

//---------------------------ORANGE
.highlighter-header {
  background-color: $color-orange;
}

//---------------------------GREY-DARKER
.paginator {
  background-color: $color-grey-darker;
}

//---------------------------BLACK
#footer-main {
  background-color: $color-black;
}

//---------------------------TRANSPARENT
#footer-quote {
  background-color: transparent;
}

/*************************************************************************
                              MISC
/*************************************************************************/

body {
  background-size: cover;
}

.lineno {
  background-color: lighten($color-black, 16) !important;
}
