
form {
  input, textarea {
    display: block;
    font-size: $f-s-M;
    margin-bottom: $m-p-M;
    font-family: $font-family-open-sans;
    padding: $m-p-XXS $m-p-XS;
    border: 1px solid darken($color-grey, 25);
    background-color: $color-white;
  }

  input:not([type="submit"])
  {
    width: 20rem;
  }
  textarea {
    width: 100%;
  }

  input:focus, textarea:focus{
    border-color: rgba($color-orange-dark, 0.8);
    box-shadow: 0 1px 1px rgba($color-orange, 0.075) inset, 0 0 4px rgba($color-orange-dark, 0.6);
    outline: 0 none;
  }
  input[type="submit"] {
    width: $m-p-XXXL;
    color: $color-white;
    letter-spacing: $l-s-M;
    text-transform: uppercase;
    border: none;
    @include button-style-webkit();
    @include button-style-moz();
    cursor: pointer;
  }
  input[type="submit"]:hover {
    @include button-style-webkit(false, $color-orange-dark);
    @include button-style-moz(false, $color-orange-dark);
  }
}

/*input[type="text"], input[type="email"], input[type="submit"] {
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}*/