 .k {
  color: #CC7832;
}
 .nx {
  color: white;
}
 .p {
  color: white;
}
 .o {
  color: #D8D8D8;
}
 .c,
 .cm,
 .c1 {
  color: #666;
  font-style: italic;
}
 .bp,
 .cp,
 .cs,
 .gh {
  color: #cc7832;
}
 .cp,
 .cs {
  font-weight: bold;
}
 .cs {
  font-style: italic;
}
 .gd {
  color: #000000;
  background-color: #ffdddd;
}
 .gd .x {
  background-color: #ffaaaa;
}
 .ge {
  font-style: italic;
}
 .gr,
 .gt {
  color: #aa0000;
}
 .gi {
  color: #000000;
  background-color: #ddffdd;
}
 .gi .x {
  background-color: #aaffaa;
}
 .go {
  color: #888888;
}
 .gp,
 .nn {
  color: #555555;
}
 .gs {
  font-weight: bold;
}
 .gu {
  color: #aaaaaa;
}
 .kc,
 .kd,
 .kp,
 .kr,
 .kt {
  font-weight: bold;
}
 .nc,
 .kt {
  color: #FFF;
}
 .na {
  color: #FFC66D;
}
 .no,
 .ni,
 .nv,
 .vc,
 .vg,
 .vi {
  color: #9876aa;
}
 .nb {
  color: #0086b3;
}
 .ne {
  color: #990000;
  font-weight: bold;
}
 .nf {
  color: #FFF;
}
 .nt {
  color: #ffc66d;
}
 .ow {
  font-weight: bold;
}
 .w {
  color: #bbbbbb;
}
 .m,
 .mf,
 .mh,
 .mi,
 .mo,
 .il {
  color: #6897bb;
}
 .s,
 .sb,
 .s1,
 .sx,
 .si,
 .sh,
 .se,
 .s2,
 .sd,
 .sc {
  color: #6a8759;
}
 .sr {
  color: #6a8759;
}
 .ss {
  color: #6a8759;
}