/*************************************************************************
                            SOME DEFAULTS
/*************************************************************************/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1, h2, h3 {
  color: $color-orange-dark;
  font-weight: normal;
  text-transform: capitalize;
}
h1 {
  font-size: $f-s-XXXL;
  line-height: 100%;
}

h2 {
  font-size: $f-s-XXL;
  margin-top: $m-p-XXXL;
}

small {
  font-size: $f-s-S;
}

article > p, blockquote, h3 {
  margin: $m-p-XL 0;
}

hr {
  width: 100%;
}
/*************************************************************************
                                LAYOUT
/*************************************************************************/

body {
  background-color: $color-white;
  color: $color-black;

  #wrapper {
    font-family: $font-family-open-sans;
    line-height: 170%;
    min-width: $media-query-min;

    > header {
      background-color: $color-white-grey;
    }

    main {
      max-width: $media-query-max;
      @include center-horizontally();
      margin-top: $m-p-XXXL;
    }

    > footer {
      background-color: $color-black;
    }
  }
}