/*************************************************************************
                            SOME DEFAULTS
/*************************************************************************/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1, h2, h3 {
  color: $color-orange-dark;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 130%;
}

h1 {
  font-size: $f-s-XXXL;
}

h2 {
  font-size: $f-s-XXL;
  margin-top: $m-p-XXXL;
}

h3 {
  font-size: $f-s-XL;
  margin-top: $m-p-XXL;
}
small {
  font-size: $f-s-S;
}

article > p, blockquote {
  margin: $m-p-XL 0;
}

hr {
  width: 100%;
}
/*************************************************************************
                                LAYOUT
/*************************************************************************/

body {
  color: $color-black;
  background-image: url("/resources/images/main_front.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  #wrapper {
    font-family: $font-family-open-sans;
    line-height: 170%;
    min-width: $media-query-min;

    > header {
      padding-top: $m-p-XXXL;

      #content {
        padding: 0 $m-p-M;
        display: block;
        padding-bottom: 6rem;
        max-width: 90rem;
        @include center-horizontally();

        div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        h1 {
          text-align: center;
          color: $color-white;
          font-size: 3rem;
          margin-top: 12rem;
          font-weight: 700;
        }
        p {
          text-align: center;
          margin-top: $m-p-M;
          color: $color-white;
          font-size: 1.5rem;
        }

      }
    }

    main {
      width: 100%;
      background-color: $color-white;
      @include center-horizontally();
      padding-top: $m-p-XXXL;
      padding-bottom: $m-p-XL;
    }

    > footer {
      background-color: $color-black;
      margin-top: 20rem;
      position: relative;

      blockquote {
        display: block;
        position: absolute;
        line-height: 150%;
        top: -12rem;
        color: $color-white;
        font-size: $f-s-XL;
        max-width: $media-query-max;
        left: 0;
        right: 0;
        margin: 0 auto;

        p {
          text-align: center;
        }
        p:before {
          display: block;
          content: "";
          background: url("/resources/images/quotes.svg");
          background-size: 3rem 2rem;
          width: 3rem;
          height: 2rem;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: -4rem;
          font-size: 5rem;
        }
        footer {
          padding-right: $m-p-M;
          text-align: right;
          margin-top: $m-p-M;
        }
      }
    }
  }
}
