
/*************************************************************************
                             FOOTER
/*************************************************************************/

#footer_main {
  display: block;
  padding: $m-p-XL 0;
  @include center-horizontally();
  max-width: $media-query-max;
  text-align: center;
  > small {
    @include init-con-font($color-grey-dark);
  }
}

