// functions
@function increase-by-percentage($number, $percentage) {
  @return $number + ($number * $percentage/100);
}

@function decrease-by-percentage($number, $percentage) {
  @return $number - ($number * $percentage/100);
}


// mixins
@mixin center-horizontally($margin-v: 0) {
  display: block;
  margin: $margin-v auto;
}

@mixin button-style-webkit($progress:false, $color:$color-orange) {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, 0.25)),
  -webkit-linear-gradient($color-orange, $color);
  @if $progress == true {
    background-size: 35px $l-h-M, 100% 100%, 100% 100%;
  }
}

@mixin button-style-moz($progress:false, $color:$color-orange) {
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, 0.25)),
  -moz-linear-gradient($color-orange, $color);
  @if $progress == true {
    background-size: 35px $l-h-M, 100% 100%, 100% 100%;
  }
}

@mixin center-absolute($margin-v: 0) {
  display: block;
  position: absolute;
  margin: $margin-v auto;
  left: 0;
  right: 0;
}

@mixin disable-selection() {
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@mixin init-nav-hover($position, $color: $color-orange) {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;

  @if ($position == "top") {
    top: 0;
  } @else if ($position == "bottom") {
    bottom: 0;
  }

  left: 0;
  background-color: $color;
  transform: scaleX(0);
  transition: $t-s-L;
}

@mixin init-con-font($color: $color-white) {
  font-family: $font-family-open-sans-condensed;
  letter-spacing: $l-s-L;
  line-height: 1;
  text-transform: uppercase;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-size($width: auto) {
  width: $width;
  height: $width;
}
