
// functions
@function increase-by-percentage($number, $percentage) {
  @return $number + ($number * $percentage/100);
}

@function decrease-by-percentage($number, $percentage) {
  @return $number - ($number * $percentage/100);
}


// mixins
@mixin center-horizontally($margin-v: 0) {
  display: block;
  margin: $margin-v auto;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-size($width: auto, $height: auto ){
  width: $width;
  height: $height;
}
