
#profile {
  text-align: center;
  img {
    @include box-size($profile-s);
  }

  h2 {
    margin: $m-p-XL 0 $m-p-XS;
    letter-spacing: $l-s-S;
    color: $color-white;
  }
  p {
    letter-spacing: $l-s-XS;
    color: $color-orange;
    text-transform: uppercase;
  }
}

article {
  background-color: $color-white;
  margin: 0 0 $m-p-XXL 0;
  padding: $m-p-XL $m-p-M;
  border-bottom: 3px solid $color-orange;
  header {
    margin-bottom: $f-s-XXXL;
    time {
      @include init-con-font($color-orange);
    }

    h1 {
      margin: 0 0 $m-p-XS 0;
      font-weight: normal;
      clear: both;
    }
  }

  blockquote {
    margin-left: $m-p-XL;
    border-left: 3px solid $color-orange;
    background-color: lighten($color-grey, 7);
    padding: $m-p-M;
    margin-bottom: $m-p-M;
    color: darken($color-grey-grey, 4);
    p {
      padding: 0;
      margin: 0;
    }
  }
  .highlight {
    line-height: 100%;
    margin-bottom: $m-p-XL;
    overflow-x: auto;
    .lineno {
      background-color: lighten($color-black, 15);
      padding: $m-p-XS;
      margin-right: $m-p-XS;
      @include disable-selection();
    }
  }

  .highlighter-rouge {
    background-color: lighten($color-grey, 7);
    color: darken($color-grey-grey, 4);
    border: 1px solid darken($color-grey, 3);
    padding: 0 $m-p-XXS;
  }

  p {
    font-family: $font-family-merriweather;
  }

  > footer {
    text-align: center;
    padding: $m-p-L 0 0 0;
  }
}






