/*************************************************************************
                             ARTICLES
/*************************************************************************/

article {
  background-color: $color-white;
  margin: 0 0 $m-p-XXXL 0;
  padding: $m-p-M;
  max-width: $media-query-max;
  @include center-horizontally();
  header {

    time {
      @include init-con-font($color-grey-dark);
    }
    span {
      color: $color-grey-darker;
    }
    h1 {
      margin: 0 0 $m-p-XS 0;
      font-weight: normal;
      clear: both;
    }
  }

  p {
    font-family: $font-family-merriweather;
  }





  ul, ol {
    list-style-position: inside;
    ul, ol {
      padding-left: $m-p-XL;
    }
  }

  ul {
    list-style-type: none;
    > li:before {
      content: "\00BB \0020";
      color: $color-orange;
    }
  }
  ol {
    list-style-type: decimal;
  }
  blockquote {
    padding: $m-p-M;
    margin-left: $m-p-XL;
    border-left: 3px solid $color-orange;
    background-color: $color-white-grey;
  }

  .highlight {
    line-height: 100%;
    overflow-x: auto;
    .lineno {
      padding: $m-p-XS;
      margin-right: $m-p-XS;
      @include disable-selection();
      background-color: lighten($color-black, 16);
    }
    .gp {
      @include disable-selection();
    }
  }

  .highlighter-header {
    background-color: $color-orange;
    color: $color-grey;
    text-align: right;
    margin: 0;
    padding-right: $m-p-M;
  }

  .highlighter-rouge {
    background-color: $color-white-grey;
    border: 1px solid $color-grey;
    padding: 0 $m-p-XXS;
  }

  > footer {
    text-align: left;
    margin-bottom: $m-p-XXXL;
  }

}
nav ul li:before {
  content: none;
}



