
html {
  position: relative;
  min-width: $media-query-320px;
  height: 100%;

  body {
    background-color: $color-grey;
    @include center-horizontally();

    main {
      @include center-horizontally();
      background-color: $color-grey;
      max-width: 60rem;

      article {
        background-color: white;
        padding: 5rem;
        border-bottom: 2px solid $color-orange;
        margin-bottom: 4rem;
      }
    }

  }
}

