/*************************************************************************
                           MEDIA QUERIES
/*************************************************************************/

@media only screen and (min-width: $media-query-med-1) {

  .contents{
    padding: $l-h-baseline-double;
  }

  .paginator li {
    display: inline-block;
  }

  .sep {
    display: block;
  }
}

@media only screen and (min-width: $media-query-med-2) {
  html {
    font-size: $f-s-tablet;
  }

  #content {
      $padding-top: $l-h-baseline-double * 2;
      $padding-bottom: $l-h-baseline-double * 2;
  }

}

@media only screen and (min-width: $media-query-max) {
  html {
    font-size: $f-s-desktop;
  }

  #main-nav ul {
    padding: $l-h-baseline-double * 3 0;
  }

  #main-nav li{
        display: inline-block;
  }
}

@media only screen and (min-width: $media-query-max-extra) {
  #content {
    padding: $l-h-baseline-double * 2;
  }

  .headline {
    padding: $l-h-baseline-double * 2 !important;
    max-width: none!important;

    #main-nav ul {
      padding: 0 !important;
    }
    .punch-line {
      padding-top: $l-h-baseline-double * 5;
    }
    .logo-nav {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
