/*************************************************************************
                           MEDIA QUERIES
/*************************************************************************/

@media only screen and (min-width: $media-query-med-1) {
  article {
    padding: 0 $m-p-XL;
  }
}

@media only screen and (min-width: $media-query-med-2) {

}

@media only screen and (min-width: $media-query-max) {
  body {
    font-size: 120%;

    #wrapper {
      > header {
        #content {
          div:first-child {
            flex-direction: row;
          }

          h1 {
            margin-top: 18rem;
            text-align: left;
          }
          p {
            text-align: left;
          }
        }
      }
    }
  }
  #main_nav {
    ul {
      text-align: right;
      li {
        display: inline-block;
        margin-left: $m-p-XL;
      }
    }
  }

}