
.main_header {
  height: 100%;
}

#profile {
  position: relative;
  background-color: $color-black;
  text-align: center;
  div {
    margin: 0 auto;
    padding: 7rem 1rem;
    figure {
      img {
        @include center-horizontally();
        width: $profile-picture-width;
        height: $profile-picture-height;
      }
    }

    h2 {
      letter-spacing: $letter-spacing-1rem;
      margin: 2rem 0;
      margin-bottom: 1rem;
      color: $color-white;
    }

    p {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: $color-orange;
    }
  }
}
