#social {
  text-align: center;
  ul {
    margin: 5rem 0;
    li {
      display: inline-block;
      margin: 0 3%;
      img {
        width: $icon-size;
        height: $icon-size;
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50% ;
        border: 0.4rem solid $color-black;
        transition: 0.3s;
      }
      a:hover {
        background-color: $color-white;
      }
    }
  }
}