footer {
  height: 15rem;
  background-color: $color-black;

  #copy{
    font-family: $font-family-open-sans-condensed;
    letter-spacing: $letter-spacing-1rem;
    text-align: center;
    color: $color-grey-grey;
  }
}