/*************************************************************************
                            DEFAULT NAVIGATION
/*************************************************************************/

a {
  color: $color-orange;
  text-decoration: none;
}

a:visited {
  color: $color-orange-dark;
}

a:hover {
  text-decoration: underline;
}

nav > ul > li {
  display: inline-block;
}

.button:hover {
  transform: scale(0.98);
}

/*************************************************************************
                            MAIN NAVIGATION
/*************************************************************************/

#main_nav {
  padding: $m-p-XL,;
  ul {
    text-align: center;
    li {
      margin: 0 $m-p-M;
    }
    li:first-child {
      display: block;
    }
  }
}

.logo {
  font-weight: bold;
  font-size: $f-s-XL;
  letter-spacing: $l-s-M;
  text-transform: uppercase;
  color: $color-white;
}

.logo:visited {
  color: $color-white;
}

.logo:hover {
  text-decoration: none;
}

.name {
  color: $color-orange;
}


/*************************************************************************
                            FANCY NAVIGATION
/*************************************************************************/

.fancy_nav {
  @include init-con-font();
  transition: $t-s-M;
  position: relative;
}

.fancy_nav:visited {
  color: $color-white;
}

.fancy_nav:before {
  @include init-nav-hover(bottom);
}

.fancy_nav:hover {
  text-decoration: none;
}

.fancy_nav:after {
  @include init-nav-hover(top);
}

.fancy_nav:hover:before {
  transform: scaleX(1);
}

.fancy_nav:hover:after {
  transform: scaleX(1);
}

/*************************************************************************
                        COMMENT COUNT
/*************************************************************************/

.comment_count {
  @include init-con-font($color-blue);
  float: right;
}

.comment_count:visited {
  color: $color-blue;
}

/*************************************************************************
                        READ MORE BUTTON
/*************************************************************************/

.read_more {
  display: inline-block;
  background-color: $color-blue;
  color: $color-white;
  padding: $m-p-XXS $m-p-S;
}

.read_more:visited {
  color: $color-white;
}

.read_more:hover {
  text-decoration: none;
}

/*************************************************************************
                        SOCIAL NAVIGATION
/*************************************************************************/

#social {
  display: inline-block;
  ul {
    li {
      margin-right: $m-p-XXS;
    }
    #facebook {
      background-color: #3b5998;
    }
    #twitter {
      background-color: #55ACEE;
    }
    #google_plus {
      background-color: #C82328;
    }
    #rss {
      background-color: #f26522;
    }
  }
  li:last-child {
    margin-right: 0;
  }
}

.social_nav {
  @include flex-center();
  @include box-size(increase-by-percentage($social-s, 90));
  margin-bottom: $m-p-XL;
  img {
    @include box-size($social-s);
  }
}

/*************************************************************************
                          TAGS NAVIGATION
/*************************************************************************/

.tags {
  margin: $m-p-L 0 0 0;
  ul {
    li {
      img {
        vertical-align: middle;
        @include box-size($social-s * 1.2);
      }
      display: inline-block;
      margin-left: $m-p-XXS;
      a:after {
        content: "\2C";
      }
    }
    li:last-child {
      a:after {
        content: '';
      }
    }
  }
}

/*************************************************************************
                        PAGINATOR
/*************************************************************************/

.paginator {
  padding: $m-p-L 0;
  background-color: $color-grey-darker;

  ul {
    text-align: center;
    li {
      .fancy_nav {
        color: $color-grey-dark;
      }
      .fancy_nav:before, .fancy_nav:after {
        background-color: $color-grey-dark;
      }
    }
    .sep {
      border-left: $border-s $color-grey-dark dotted;
      margin: 0 $m-p-XL;
    }
  }
}

