/*************************************************************************
                            DEFAULT NAVIGATION
/*************************************************************************/

a {
  color: $color-blue;
  text-decoration: none;
}

a:visited {
  color: $color-blue-darker;
}
a:hover {
  text-decoration: underline;
}


nav > ul > li {
  display: inline-block;
}

.button:hover {
  transform: scale(0.98);
}

/*************************************************************************
                            MAIN NAVIGATION
/*************************************************************************/

#main_nav {
  font-size: $f-s-XL;
  ul {
    li {
      margin-top: $m-p-XL;
      text-align: center;
      display: block;

    }
  }
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  img {
    width: 5.5rem;
    height: 3.6rem;
  }
  div {
    display: flex;
    flex-direction: column;
    span {
      padding-left: $m-p-XXS;
      color: $color-white;
      line-height: 120%;
      white-space: nowrap;
    }
    span:first-child {
      font-weight: bold;
      font-size: $f-s-XL;
    }
    span:last-child {
      text-transform: lowercase;
      font-variant: small-caps;
      font-size: $f-s-L;
      letter-spacing: $l-s-M;
    }
  }
}
#logo:hover {
  text-decoration: none;
}

/*************************************************************************
                            FANCY NAVIGATION
/*************************************************************************/

.fancy_nav {
  @include init-con-font($color-white);
  transition: $t-s-M;
  position: relative;
}

.fancy_nav:visited {
  color: $color-white;
}

.fancy_nav:before {
  @include init-nav-hover(bottom);
}

.fancy_nav:hover {
  text-decoration: none;
}

.fancy_nav:after {
  @include init-nav-hover(top);
}

.fancy_nav:hover:before {
  transform: scaleX(1);
}

.fancy_nav:hover:after {
  transform: scaleX(1);
}

/*************************************************************************
                        COMMENT COUNT
/*************************************************************************/

.comment_count {
  @include init-con-font($color-grey-dark);
}

.comment_count:visited {
  color: $color-grey-dark;
}

/*************************************************************************
                        LINK TO ARTICLES
/*************************************************************************/

.h1_link {
  color: $color-orange-dark;
}

.h1_link:visited {
  color: $color-orange-dark;
}

.h1_link:hover {
  text-decoration: none;
  color: darken($color-orange-dark, 5);
}



/*************************************************************************
                          TAGS NAVIGATION
/*************************************************************************/

.tags {
  ul {
    li {
      img {
        vertical-align: middle;
        @include box-size($social-s * 1.2);
      }
      display: inline-block;
      margin-left: $m-p-XXS;
      a:after {
        content: "\2C";
      }
    }
    li:last-child {
      a:after {
        content: '';
      }
    }
  }
}

/*************************************************************************
                        PAGINATOR
/*************************************************************************/

.paginator {
  padding: $m-p-L 0;
  background-color: $color-grey-darker;

  ul {
    text-align: center;
    li {
      .fancy_nav {
        color: $color-grey-dark;
      }
      .fancy_nav:before, .fancy_nav:after {
        background-color: $color-grey-dark;
      }
    }
    .sep {
      border-left: $border-s $color-grey-dark dotted;
      margin: 0 $m-p-XL;
    }
  }
}

