/*************************************************************************
                            DEFAULT NAVIGATION
/*************************************************************************/

a {
  color: $color-orange;
  text-decoration: none;
}

a:visited {
  color: $color-orange-dark;
}

a:hover {
  text-decoration: underline;
}

nav > ul > li {
  display: inline-block;
}

.button:hover {
  transform: scale(0.98);
}

/*************************************************************************
                            MAIN NAVIGATION
/*************************************************************************/

#main_nav {
  padding: $m-p-L,;
  border-bottom: 1px solid $color-grey;
  ul {
    text-align: center;
    li {
      margin: 0 $m-p-M;
    }
    li:first-child {
      display: block;
      margin-bottom: $m-p-M;
    }
  }
}

.logo {
  font-weight: bold;
  font-size: $f-s-XL;
  letter-spacing: $l-s-M;
  text-transform: uppercase;
  color: $color-orange;

  img {
    @include box-size(3rem);
  }
}

.logo:visited {
  color: $color-orange;
}

.logo:hover {
  text-decoration: none;
}

.name {
  color: $color-orange-dark;
}


/*************************************************************************
                            FANCY NAVIGATION
/*************************************************************************/

.fancy_nav {
  @include init-con-font($color-black);
  transition: $t-s-M;
  position: relative;
}

.fancy_nav:visited {
  color: $color-black;
}

.fancy_nav:before {
  @include init-nav-hover(bottom);
  background-color: $color-black;
}

.fancy_nav:hover {
  text-decoration: none;
}

.fancy_nav:after {
  @include init-nav-hover(top);
  background-color: $color-black;
}

.fancy_nav:hover:before {
  transform: scaleX(1);
}

.fancy_nav:hover:after {
  transform: scaleX(1);
}

/*************************************************************************
                        COMMENT COUNT
/*************************************************************************/

.comment_count {
  @include init-con-font($color-grey-dark);
}

.comment_count:visited {
  color: $color-grey-dark;
}

/*************************************************************************
                        LINK TO ARTICLES
/*************************************************************************/

.h1_link {
  color: $color-orange-dark;
}

.h1_link:visited {
  color: $color-orange-dark;
}

.h1_link:hover {
  text-decoration: none;
  color: darken($color-orange-dark, 5);
}



/*************************************************************************
                          TAGS NAVIGATION
/*************************************************************************/

.tags {
  ul {
    li {
      img {
        vertical-align: middle;
        @include box-size($social-s * 1.2);
      }
      display: inline-block;
      margin-left: $m-p-XXS;
      a:after {
        content: "\2C";
      }
    }
    li:last-child {
      a:after {
        content: '';
      }
    }
  }
}

/*************************************************************************
                        PAGINATOR
/*************************************************************************/

.paginator {
  padding: $m-p-L 0;
  background-color: $color-grey-darker;

  ul {
    text-align: center;
    li {
      .fancy_nav {
        color: $color-grey-dark;
      }
      .fancy_nav:before, .fancy_nav:after {
        background-color: $color-grey-dark;
      }
    }
    .sep {
      border-left: $border-s $color-grey-dark dotted;
      margin: 0 $m-p-XL;
    }
  }
}

