
//---------------------------PADDING-RIGHT=BASELINE
article > blockquote {
  padding: $l-h-baseline;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: $l-h-baseline-double;
  margin-left: $l-h-baseline-double;
  margin-right: $l-h-baseline-double;
//  background-color: $color-warning;
  font-size: smaller;
  font-style: italic;

  p {
  padding: 0;
  }
}

article blockquote {
  border-left: $border-s solid $color-orange;
}
