#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: $l-h-baseline;

  div {
    height: $l-h-baseline * 0.9;
    width: $l-h-baseline * 12;
    margin-bottom: $l-h-baseline * 0.42;
    position: relative;
    p {
      font-size: $f-s-S;
      line-height: $l-h-baseline * 0.9;
      height: inherit;
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
    }
    p span {
      display: inline-block;
      padding: 0 0.4rem;
    }
    p span:first-child {
      background-color: rgba(0, 0, 0, 0.3);
      color: $color-white;
    }
    p span:last-child {
      float: right;
      color: $color-black;
    }
  }

  div:last-child {
    margin-bottom: $l-h-baseline * 0.3.2;
  }
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
}

progress[value]::-webkit-progress-bar {
  background-color: $color-grey;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
 @include button-style-webkit(true);}

progress[value]::-moz-progress-bar {
 @include button-style-moz(true);
}
