
html {
  font-size: 100%;
}

body {
  font-family: $font-family-open-sans;
  font-size: $font-size-default;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

