/*************************************************************************
                             TEXT ALIGNMENT
/*************************************************************************/

//---------------------------ALIGN CENTER

article > table th,
#main-nav ul,
.punch-line,
.paginator ul,
#footer-quote,
#footer-main {
  text-align: center;
}

//----------------------------ALIGN RIGHT
blockquote footer,
.highlighter-header {
  text-align: right;
}

//----------------------------STYLE ITALIC
/*
figcaption {
  font-style: italic;
}
*/
.punch-line,
.post-meta {
  font-style: italic;
}

//----------------------------MISC
sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

#footer-main {
  @include init-con-font();
}

#tag-line,
.contact-form input[type="submit"],
 {
   letter-spacing: $l-s-M;
}
#logo-name {
  font-weight: bold;
}

article > table th {
  font-weight: normal;
}

/*************************************************************************
                             TEXT TRANSFORM
/*************************************************************************/

//----------------------------UPPERCASE
.contact-form input[type="submit"],
#logo-name,
abbr {
  text-transform: uppercase;
}

//----------------------------LOWERCASE
#tag-line
{
  text-transform: lowercase;
}

//----------------------------SMALL-CAPS
#tag-line
{
  font-variant: small-caps;
}

/*************************************************************************
                              FONT SIZE
/*************************************************************************/

html {
  font-size: $f-s-mobile;
}

.contact-form input,
.contact-form textarea,
h4 {
  font-size: $f-s-default;
}

#logo-name,
h1 {
  font-size: $f-s-h1;
}

#main-nav,
article > h2 {
  font-size: $f-s-h2;
}

article > h3, #footer-quote{
  font-size: $f-s-h3;
}

//----------------------------SMALL
small,
figcaption,
sub,
sup,
.alert{
  font-size: $f-s-small;
}

//----------------------------SMALLER
abbr {
  font-size: smaller;
}

/*************************************************************************
                              LINE-HEIGHT
/*************************************************************************/

body {
  line-height: $l-h-default;
}

h1 {
  line-height: $l-h-h1;
}

h2 {
  line-height: $l-h-h2;
}

h3 {
  line-height: $l-h-h3;
}

#tag-line,
small, .alert {
  line-height: $l-h-small;
}

.highlight {
  line-height: $l-h-code;
}

/*************************************************************************
                              FONT-FAMILY
/*************************************************************************/

//----------------------------DROID-SERIF
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-lato-serif;
}

//----------------------------OPEN-SANS
.contact-form input,
.contact-form textarea,
#wrapper {
  font-family: $font-family-open-sans;
}
