// colors
$color-black: #111111;
$color-white: #fcfcfc;
$color-orange: #d16b19;
$color-grey-dark: #5a5a5a;
$color-white-grey: darken($color-white, 4);
$color-grey: darken($color-white, 10);
$color-grey-darker: darken($color-grey, 7);
$color-orange-dark: darken($color-orange, 12);

// sizes
$social-s: 1rem;
$border-s: 4px;

// margin padding (m-p)
$m-p-M: 1rem;
$m-p-S: decrease-by-percentage($m-p-M, 15);
$m-p-XS: decrease-by-percentage($m-p-M, 25);
$m-p-XXS: decrease-by-percentage($m-p-M, 50);
$m-p-L: increase-by-percentage($m-p-M, 50);
$m-p-XL: increase-by-percentage($m-p-M, 100);
$m-p-XXL: increase-by-percentage($m-p-M, 300);
$m-p-XXXL: increase-by-percentage($m-p-M, 500);

// font families
$font-family-merriweather: 'Merriweather', serif;
$font-family-open-sans-condensed: 'Open Sans Condensed', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

// font size (f-s)
$f-s-M: 1rem;
$f-s-S: decrease-by-percentage($f-s-M, 15);
$f-s-XS: decrease-by-percentage($f-s-M, 25);
$f-s-L: increase-by-percentage($f-s-M, 25);
$f-s-XL: increase-by-percentage($f-s-M, 50);
$f-s-XXL: increase-by-percentage($f-s-M, 100);
$f-s-XXXL: increase-by-percentage($f-s-M, 150);

// letter spacing (l-s)
$l-s-M: 0.1rem;
$l-s-S: decrease-by-percentage($l-s-M, 25);
$l-s-XS: decrease-by-percentage($l-s-M, 50);
$l-s-XXS: decrease-by-percentage($l-s-M, 75);
$l-s-L: increase-by-percentage($l-s-M, 25);
$l-s-XL: increase-by-percentage($l-s-M, 50);
$l-s-XXL: increase-by-percentage($l-s-M, 75);

// transition speed (t-s)
$t-s-M: 0.5s;
$t-s-S: increase-by-percentage($t-s-M, 33);
$t-s-L: decrease-by-percentage($t-s-M, 33);

// media queries
$media-query-min: 22rem;
$media-query-med-1: 30rem;
$media-query-med-2: 40rem;
$media-query-med-3: 50rem;
$media-query-max: 55rem;

