<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body
        {% if page.class %}
        class="{{ page.class }}"
        {% endif %}
>
<div id="wrapper">
    <header>
    {% include header.html %}
    </header>
    <main id="start">
        {{ content }}
    </main>
    {% include paginator.html %}
    <footer>
        {% include footer.html %}
    </footer>
</div>
<script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
</body>
</html>